.main-list {
  @include align(flex, center, null);
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.main-list .main-list__btn {
  margin-right: 8px;
}

.main-list__button {
  font-family: $font;
  @include font(500, 16px, 1.62, 0.03em);
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .main-list &:last-child {
    margin-right: 0px;
  }
  &:hover,
  &:focus {
    color: $background-color;
    background-color: var(--logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
