.header-nav__list,
.items {
  @include font(500, 14px, 1.14, 0.02em);
  margin: 0px;
  padding: 0px;
}
.header-nav__link.header-nav__link--current {
  color: var(--logo-color);
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
.header-nav__link {
  position: relative;
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--title-color);
}

.header-nav__list .header-nav__item {
  margin-right: 50px;
}
.header-nav__list .header-nav__item :last-child {
  margin-right: 0;
}

.header-nav__list {
  //   display: none;
  display: flex;
}
