:root {
  --title-color: #212121;
  --main-font: roboto, sans-serif;
  //   --background-color: #ffffff;
  --logo-color: #2196f3;
  --contact-color: #757575;
}
$background-color: #ffffff;
$font: "Roboto";
